PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=interndb
DB_USER=postgres
DB_PASSWORD=
LINKEDIN_WEBHOOK_SECRET=
GEMINI_API_KEY=
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

LINKEDIN_LEAD_ADMIN_ID=
LINKEDIN_RECORD_SOURCE=LinkedIn
